/* Fonts */
/* open sans */
@import url(./fonts/open-sans/regular/stylesheet.css);
@import url(./fonts/open-sans/bold/stylesheet.css);
/* PT Sans */
@import url(./fonts/pt-sans/regular/stylesheet.css);
@import url(./fonts/pt-sans/bold/stylesheet.css);

/* Elements */
body {
  background: #fff;
  font-family: 'pt sans', 'helvetica neue', helvetica, arial;
  font-size:14px;
}

figure, figcaption {
  padding:0;
  margin:0;
}

h1 {
  font-size:2.75em;
  margin-top:0;
}

h2 {
  margin: 0;
  margin-bottom: 1em;
  font-size:20px;
  font-weight: bold;
}

a, a:visited {
  color: inherit;
}

option, input {
  font-family: 'pt sans' !important;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder {
   color: white;  
}

::-moz-placeholder { 
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

#converter {
  padding:1em;
  width:380px;
  margin:4em auto;
  background:#3498db;
  color: white;
  box-shadow: 2px 2px 3px #ddd;
}

.select, .input, #result.expanded {
  padding:0.75em;
  border-radius: 2px;
  border:1px solid #1d6fa5;
  min-height:1.25em;
  font-size: 14px;
  display: inline-block;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  background: #217dbb;
  color:white;
}

.select {
  position: relative;
  padding-right: 3em;
  margin:1em 0.2em;
}

.select:after {
/*  content:'';
  width:0;
  height:0;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-top:9px solid #d0d1d3;
*/
  background: #217dbb;
  border-left:1px solid #1d6fa5;
  transform: scaleY(0.8);
  content: '▼';
  color:white;
  position: absolute;
  top:0;
  right: 0;
  bottom:0;
  z-index:10;
  font-size:15px;
  width:2em;
  text-align: center;
  padding-top:0.75em;
  margin: 0;
}

.select select {
  z-index:100;
  margin: 0;
  width:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: transparent !important; /* do not change */
  position:absolute;
  font-size:14px;
  opacity: 0;
}

.select select option {
  background: white !important;
}

#remote-country {
  width:85px;
}

#remote-country-flag {
  float:right;
  padding:2px;
  background:white;
  width:35px;
}

#send-receive-toggle {
  min-width:50px;
}

#send-receive-amount {
  max-width:145px;
}

#result {
  border-radius:5px;
  max-height:0;
  overflow: hidden;
  color: #333;
  padding: 0;
}

#result .local-currency-flag, #result .remote-currency-flag, .flag {
  position: relative;
  top:4px;
  width:25px;
}

#result hr {
  border:1px solid #ddd;
}

#result.expanded {
  color:#333;
  background:white;
  max-height:1000px;
  display: block;
  font-size: 15px;
}

#input {
  width:115px;
}

.amount {
  color:black;
}

.local-currency-symbol, .remote-currency-symbol, .us-currency-symbol {
  color:#555;
}

.amount {
  letter-spacing:1px;
}

.total .amount, .receives .amount {
  font-weight: bold;
}

.total, .receives {
  font-weight: bold;
}

#info {
  display: none;
  text-align: center;
  padding:1em 1em 0.5em 1em;
  font-size:12px;
}

#commission {
  display: block;
  text-align: center;
  padding:0.5em 0.5em 1em 0.5em;
}

#commission.disabled {
  opacity:0.8;
}

.remote-currency, .local-currency, .us-currency {
  text-align: center;
  width:35px;
  display: inline-block;
}

dl dt {
  float: left;
  padding: 0.5em 0;
}
dl dd {
  text-align: right;
  padding: 0.5em 0;
  } 